<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小米商场</title>
</head>
<body>
    <div>
        <a href="https://www.mi.com/index.html">小米商城</a>
        <a href="https://home.miui.com/" target="_blank">MIUI</a>
        <a href="https://airstar.com/home" target="_blank">天星熟客</a>
        <a href="https://qiye.mi.com/" target="_blank">企业团购</a>
    </div>

    <div>
        <form action="/search" method="get">

            <a href="https://www.mi.com/index.html">
                <img src="/static/logo-mi2.png" style="height: 80px;">
            </a>
            <a href="https://www.mi.com/index.html">小米手机</a>
            <a href="https://www.mi.com/index.html">红米手机</a>
            <a href="https://www.mi.com/index.html">电视</a>

            <input type="text" placeholder="请输入关键字" name="keyword"/>
            <input type="submit" value="搜索">
        </form>
    </div>
</body>
</html>